#project
/bin/
.settings/
target/
.metadata
# files for the dex VM  
*.dex
# Java class files  
*.class   
#idea
.idea
*.iws
*.iml
*.ipr

# Eclipse project files  
.classpath  
.project  
.DS_Store  

# 临时备份文件
*.bak
scripts/ws_shots/

# 运行时日志
*.log
logs/
HXAPIGATE_LOGS/
SystemOut.log
SystemErrOut.log
SystemSqlOut.log
